<div class="container">
    <h1> days </h1>

    <table id="weekdays">
        <tr>
                {{#each daynames}}
                    <th>{{dayname}}</th>
                {{/each}}
            </tr>
            <tr>
                {{#each data}}
                <td>
                    {{Waiters}}
                </td>
                {{/each}}
            </tr>
    </table>

<button type="submit" id="clear">clear shifts</button>

</div>